target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar


node_modules/
dist/
dist-ssr/
*.local
*.tsbuildinfo
vite.config.js
vite.config.d.ts

.idea/
.vscode/
*.iml
.DS_Store

.env
.env.local

*.log
logs/

.docker-data/

